# Admin Password for making modifications
ADMIN_PASSWORD=qicheng1314.

# Firebase Public Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=

# Firebase Admin (Server-side)
# Provide the JSON service account as a base64 string or a stringified JSON
FIREBASE_SERVICE_ACCOUNT=
